:root {
    --text-color: #C9D1D9;
    --background-col: black;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(.././font/OpenSans-Light.woff) format('woff');
  }
  @font-face {
    font-family: 'custom';
    font-style: normal;
    font-weight: 300;
    src: local('custom'), local('custom'), url(.././font/custom.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(.././font/OpenSans-Regular.woff) format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(.././font/OpenSans-SemiBold.woff) format('woff');
  }

.fontdiv{
    font-family : 'custom' !important
}
html {
    font-size: 100%;
    --lavender: rgb(170, 142, 235);
    /* --lavender: rgb(188, 167, 238); */
}

body {
    background-color: var(--background-col) !important;
    color: var(--text-color) !important;
    font-family: 'Open Sans', sans-serif !important;   
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.nav-link, .fa {
    color: var(--text-color);
    text-align: center;
    font-size: 1.25rem;
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    
    transition:.4s;
}

.nav-link:hover, .fa-github:hover { color:var(--lavender); }

.fa-soundcloud:hover { color:rgb(254, 109, 53); }

.fa-youtube-play:hover { color:rgb(205, 32, 31); }

.fa-spotify:hover { color:rgb(30, 215, 97); }

.fade-in-text {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in-text-short {
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}

.navbar {
    border-top: 4px solid var(--lavender);
    border-bottom: 1px solid rgb(40, 40, 40, 0.1);
    transition: all .5s ease-in-out;
}

.navbar-icon {
    font-size: 1.5rem;
    padding: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdownicon {
    flex-direction: row !important;
    justify-content: center;
}


.page-header, .page-description {
    margin-left: -0.49em;
}

.parent {
    color: var(--text-color);
    min-height: 80vh;
    flex-direction: column;
    
}

@keyframes glow {
    from {
      text-shadow: 0 0 2px rgb(188, 167, 238), 0 0 5px rgb(188, 167, 238);
    }
    to {
      text-shadow: 0 0 5px rgb(188, 167, 238), 0 0 10px rgb(188, 167, 238);
    }
  }

.title {
    font-size: 12vh;
}

.titleicons {
    font-size: 4.6vh;
    flex-direction: row;
    display: flex;
    gap: 3vh;
}

.titleicon {
    font-size: 6vh;
}

.text-padding {
    padding: 39px !important;
}


.card{
    background-color: black;
}
.bg-primary{

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 120%;
    font:inherit;
    font-size: inherit;
    color:rgba(0, 0, 0, 0.193);
    background-color: black;

    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
    animation: skeww 3s linear infinite;
    
  }
  
  
 

@keyframes skeww{
    from{
        rotate: 0;
    }
    to{
        rotate: -10deg;
    }
}


.img{
    height: 130%;
}


.f-container {
    display: flex;
    background-color: black;
    bottom: 0;
  }
  
  .f-container > div {
    position: relative;
    margin: 20px;
    bottom: 0;
    
    
    
  }
  .container {
    color: aliceblue;
     padding: 2px 16px;
   }
